/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  text-align: center;
  background: transparentize(blue, .5);
  color: white;
  border-radius: 6px;
}

.jumbotron-upload {
  text-align: center;
  color: black;
  border-radius: 6px;
}

.climbr-title {
  margin-top: 130px;
  text-align: center;
  color: white;
}

.container-auth {
  background-image: url(paradox_topout.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container-auth:after {
  content: "";
  display: block;
  clear: both;
}

.navbar {
  margin-bottom: 0;
  font-weight: bold;
}

.show-user {
  cursor: pointer;
}

.photo-index-image {
  margin: 10px 0px 0px 10px;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
}

.photo-index-image:hover {
 //add stuff here
}

.user-index-image {
  margin: 10px 0px 0px 10px;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
}

.container-map-photo {
  display: inline-block;
}

.container-fluid-show {
  text-align: center;
  background-color: black;
}

.container-map-photo:after {
  content: "";
  display: block;
  clear: both;
}

.img-responsive {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 1500px;
  max-height: 90vh;
  max-width: calc(100% - 450px);
}

.upload-button {
  cursor: pointer;
}

.cover-photo {
  margin-top: 10px;
  background-image: url(user_panorama.jpg);
  height: 30vh;
  max-width: auto;
  font-size: medium;
  position: relative;
}

.user-show-email {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
}

.map {
  float: left;
  height: 2000px;
  max-height: 90vh;
  width: 400px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.areas-list {
  cursor: pointer;
}

.upload-preview {
  height: 600px;
  max-height: 90vh;
  max-width: 70vw;
  margin-left: 10px;
  float: left;
}

.areas-index-container {
  text-align: center;
}

.area-photos-map {
  content: "";
  display: block;
  clear: both;
}

.areas-masonry {
  float: left;
  width: 1500px;
  max-width: calc(100% - 450px);
}

.area-title {
  font-size: medium;
  font-weight: bold;
}
