/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  text-align: center;
  background: transparentize(blue, .5);
  color: white;
  border-radius: 6px;
}

.climbr-title {
  margin-top: 130px;
  text-align: center;
  color: white;
}

.container-auth {
  background-image: url(paradox_topout.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container-auth:after {
  content: "";
  display: block;
  clear: both;
}

.navbar {
  margin-bottom: 0;
}

img {
  margin: 10px 0px 0px 10px;
  width: 100%;
  max-width: 300px;
}
